body {
    background: #f7f7f7;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    padding-right: 1rem;
    padding-top: 2rem;
    flex-direction: column;
}


@media (max-width: 799px) {
 
   body{
    align-items: center;
   }
  
} 