body {
    font-family: 'Segoe UI', Arial, sans-serif;
}

.form-card {
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    padding: 2.2rem 2rem 1.5rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    max-width: 470px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 1rem;
    color: #444;
}

.form-input {
    padding: 0.7rem 1rem;
    border: 1px solid #cfd8dc;
    border-radius: 6px;
    font-size: 1rem;
    background: #f7f7f7;
    transition: border 0.2s;

}

.form-input:focus {
    border: 1.5px solid #222;
    outline: none;
    background: #fff;
}

.primary-btn {
    background: #222;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0.9rem;
    font-size: 1.08rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
    letter-spacing: 0.01em;
}

.primary-btn:hover {
    background: #111;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}